.monster {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    margin-left: 50px;

}
.thin{
    border: 3px solid gold;
}

.medium{
    border: 8px solid gold;
}

.thick{
    border: 15px solid gold;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}

#monster {
    border-radius: 5px;
    width: 100px;
}

#actionbox {
    border: 1px solid grey;
    min-width: 400px;
    overflow: hidden;
}
#actionbox >p {
    margin: 0 ;
}
ul#status {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#status li {
    margin-left : 20px;
}

button {
    width: 75px;
    height: 40px;
    background-color: deepskyblue;
    border: 0;
    margin-right: 8px;
}

button:hover {
    background-color: dodgerblue;
}
